.contact{
    width: 50%;
    align-items: center;
    text-align: left;
    justify-content: center;
    color: white;
    margin-left: 25vw;
}

.contact-head{
    font-family: 'Gabarito', cursive;
}

.main{
    background-color: blue;
}

textarea.form-control {
    width: 100%; 
    height: 40vh; 
    resize: vertical; 
}

textarea.form-control,select.form-control{
    border-color: white;
    background-color: rgb(119, 119, 213);
}

.custom-input{
    background-color: rgb(106, 106, 197);
    border-color: white;
}

.btn-primary{
    width: 49.5vw;
    font-family: 'Gabarito', cursive;
}